<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante</title>

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

    <div class="tela centralizar alinhar">
        <form class="formulario centralizar alinhar">
            <label for="usuario" class="label">usuário</label>
            <input type="text" name="usuario" id="usuario" class="entrada-de-dados">
            
            <label for="senha" class="label">senha</label>
            <input type="text" name="senha" id="senha" class="entrada-de-dados">
            
            <button type="button" id="login" class="btn">Login</button>
        </form>
    </div>
    
</body>
</html>